body{
    background-color: black;
}
#x1{
    color: yellow;
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
    padding-bottom: 40px;
}
.c1{
    color: aliceblue;
    font-size: 25px;
    list-style: none;
    margin-bottom: 30px;
   
}
#x2{
    margin-left: 80px;
    margin-top: 40px;
}
.c2{
    color: yellow;
    font-size: 25px;
    list-style: none;
    margin-bottom: 30px;
    font-style: oblique;
}
@media screen and (max-width:500px) {
    #x1{
    font-size: 30px;

    }
    .c1,.c2{
        font-size: 18px;
    }
}
